@page "/ChatPage/{Id:int}/{IsGroup:bool}"

@using Client.Pages.Components;
@using Client.Models.JavaScriptServices;

@inject IJSRuntime JS
@inject NavigationManager navigation;
@inject BackButtonService backButtonService;

<div id="navigation-bar">
    <button @onclick="() => backButtonService.GoBack()" type="submit" id="search-bar-btn">
        <img src="./Images/back_arrow.png" />
    </button>
    <h3 id="chat-name">@View.Name</h3>
</div>

<div>
    <ul @ref="MessageFrame" id="message-box">
        @foreach (ChatMessage message in Messages)
        {
            <MessageComponent message="message"></MessageComponent>
        }
    </ul>
</div>

<form @onsubmit="MessageInputSubmit">
    <div id="message-input-container">
        <div id="message-input-inner">
            <div id="message-input-toolset">
                <img @onclick="AddFileMessage" src="Images/file_send.png" />
                <input @bind="MessageInputContent" id="text-input" placeholder="@@View.Name" />
            </div>
        </div>
    </div>
</form>