input {
    width: 80%;
    height: 45px;
    background: #e0dede;
    justify-content: center;
    display: flex;
    background-color: #303132;
    padding: 10px;
    border: none; 
    outline: none;
    color: white;
    border-radius: 10px;
    caret-color: white;
}

#localuser-display{
    padding-left: 8px;
    margin-top: -18px;
}

#search-bar {
    display: flex;
}

img {
    image-rendering: optimizeQuality;
}

#search-bar input {
    margin: auto;
    margin-top: 5px;
}

#search-bar-btn {
    width: 45px;
    height: 45px;
    background-color: #303132;
    position: relative;
    border-radius: 10px;
    margin: 5px;
    border: none;
}

    #search-bar-btn img {
        width: 30px;
        height: 30px;
        margin: 0;
        position: absolute;
        top: 15%;
        left: 17%;
    }

.settings-btn {
    position: absolute;
    left: 90%;
    top: 120px;
    width: 30px;
    height: 30px;
}

.avatar {
    margin-top: 40px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
}

.userinfo{
    display: inline;
}

.settings-frame-btn {
}

.userinfo span, p {
    font-size: 16px;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.message-body img {
    max-height: 50%;
    max-width: 50%;
}

.chat-body {
    width: 100%;
    font-weight: normal;
    overflow-wrap: anywhere;
    padding-right: 40px;
    margin-right: 40px;
    font-size: 13px;
}

.chat-frame {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

    .chat-frame:active {
        margin: 1px 1px 0;
        box-shadow: -1px -1px 1px #000;
    }

.chat-content {
    padding: 4px;
    width: 100%;
    margin-right: 4px;
}

.chat-author-avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-size: cover;
    position: relative;
}

.chat-timestamp {
    color: #72767d;
    font-size: 14px;
    margin-left: 3px;
}

#last-chats li {
    padding-left: 5px;
}

.chat-author-status {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: rgb(128, 132, 142);
    position: relative;
    left: 40px;
    border: 3px solid #121212;
    bottom: 15px;
}

.LastChatsLoading {
    visibility: hidden;
    text-align: center;
}

.option-selected {
    background-color: #303132;
    border-radius: 5px;
    height: 100%;
    width: 30%;
    text-align: center;
}

.requests-accept-btn {
    font-size: 1em;
    font-weight: bold;
    outline: none;
    color: white;
    border: none;
    border-radius: 5px;
    background-color: #303132;
    margin: 15px;
    padding: 5px 10px 5px 10px;
}

#menu-header {
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 15px;
}

    #menu-header li {
        height: 10px;
        display: inline;
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    #menu-header span {
        text-align: center;
        padding: 10px 13px;
        text-decoration: none;
    }