@page "/Search/{SearchInput}"

@using Client.Pages.Components;
@using Client.Models.JavaScriptServices;

@inject NavigationManager navigation;
@inject IJSRuntime JS;
@inject BackButtonService backButton;

<div>
    <form id="search-bar" @onsubmit="SearchBarSubmit">
        <button type="button" @onclick="() => backButton.GoBack()" id="search-bar-btn">
            <img src="./Images/back_arrow.png" />
        </button>
        <input @bind="SearchInput" type="text" placeholder="Search" />
        <button type="submit" id="search-bar-btn">
            <img src="./Images/search.png" />
        </button>
    </form>
</div>

<div>
    <ul id="search-options">
        <li>
            <span id="search-option-all" @onclick="() => OnSearchOptionSelect(SearchOption.All)">All</span>
        </li>
        <li>
            <span id="search-option-users" @onclick="() => OnSearchOptionSelect(SearchOption.Users)">Users</span>
        </li>
        <li>
            <span id="search-option-groups" @onclick="() => OnSearchOptionSelect(SearchOption.Groups)">Groups</span>
        </li>
    </ul>

</div>

<div>
    @if (ShouldShowResult && SearchFound.Count == 0)
    {
        <h5 id="search-results-empty">We couldn’t find any results for "@SearchInput"</h5>
    }

    @if (ShouldShowLoading())
    {
        <LoadingComponent LoadingController="@SearchLoadingComponent"></LoadingComponent>
    }

    <ul id="search-results">
        @foreach (IViewBindable found in SearchFound)
        {
            <li>
                <div class="search-result-frame">
                    <div @onclick="() => FoundClicked(found)">
                        <img class="search-result-avatar" src="@found.AvatarImageSource">
                    </div>
                    <div @onclick="() => FoundClicked(found)" class="search-result-name">
                        <span class="chat-author-name">@found.Name</span>
                    </div>
                    @if (ShouldRenderInvite(found)) 
                    {
                        <button @onclick="() => InviteUser(found)" class="search-result-add-btn">Add Friend</button>
                    }
                    else if (ShouldRenderCancelInvite(found)) 
                    {
                        <button @onclick="() => InviteUser(found)" class="search-result-add-btn">Cancel Invitation</button>
                    }
                </div>
            </li>
        }
    </ul>
</div>