@page "/Search/{SearchInput}"

@using Client.Pages.Components;

@inject NavigationManager naviagtion;
@inject IJSRuntime JS;

<div id="search-bar">
    <form @onsubmit="SearchBarSubmit">
        <input @bind="SearchInput" type="text" placeholder="Search" />
    </form>
</div>

<div id="search-options">
    <span id="search-option-all" @onclick="() => OnSearchOptionSelect(SearchOption.All)">All</span>
    <span id="search-option-users" @onclick="() => OnSearchOptionSelect(SearchOption.Users)">Users</span>
    <span id="search-option-groups" @onclick="() => OnSearchOptionSelect(SearchOption.Groups)">Groups</span>
</div>

<div id="context-frame">
    <div id="context-menu">
        <ul>
            <li>
                <button @onclick="() => OpenChat(SelectedContextView)">Open Chat</button>
            </li>
            <li>
                <button>Add as Friend</button>
            </li>
            <li>
                <button @onclick="() => CloseContextMenu()">Close</button>
            </li>
        </ul>
    </div>
</div>

<div>
    @if (ShouldShowResult && SearchFound.Count == 0)
    {
        <h5 id="search-results-empty">We couldn’t find any results for "@SearchInput"</h5>
    }

    @if (ShouldShowLoading())
    {
        <LoadingComponent LoadingController="@SearchLoadingComponent"></LoadingComponent>
    }

    <ul id="search-results">
        @foreach (IViewBindable found in SearchFound)
        {
            <li>
                <div @onclick="() => SetContextMenu(found)" class="search-result-frame">
                    <div>
                        <img class="search-result-avatar" src="@found.AvatarImageSource">
                    </div>
                    <div class="search-result-name">
                        <span class="chat-author-name">@found.Name</span>
                    </div>
                </div>
            </li>
        }
    </ul>
</div>