#search-bar input {
    width: 80%;
    height: 45px;
    background: #e0dede;
    justify-content: center;
    display: flex;
    background-color: #303132;
    padding: 10px;
    border: none;
    outline: none;
    color: white;
    border-radius: 10px;
    caret-color: white;
    margin: auto;
    margin-top: 5px;
    display: block;
}

#search-results {
    list-style-type: none;
    margin: 0px;
    padding: 15px;
}

.search-result-avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.search-result-name {
    display: inline;
    padding: 4px;
    width: 100%;
    margin-right: 4px;
}

.search-result-frame {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

#search-options {
    text-align:center;
}

    #search-options span {
        font-size: 18px;
        margin-top: 16px;
        padding-left: 8px;
        display: inline-block;
    }

.search-option-selected {
    text-decoration: underline;
}

li {
    margin: 10px 0;
}

ul {
    list-style: none;
}

#context-frame {
    visibility: hidden;
    position: absolute;
    top: 50vw;
    left: 25vw;
}

#context-menu {
    display: flex;
    width: 50vw;
    flex-direction: column;
    background-color: #3d3e40;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgb(64 64 64 / 5%);
    padding: 10px 0;
}

    #context-menu button {
        margin: 0 auto;
        text-align: center;
        width: 80%;
        height: 45px;
        background: #e0dede;
        background-color: #303132;
        padding: 10px;
        border: none;
        outline: none;
        color: white;
        border-radius: 10px;
        caret-color: white;
    }