input {
    width: 80%;
    height: 45px;
    justify-content: center;
    display: flex;
    padding: 10px;
    border: none;
    outline: none;
    color: white;
    border-radius: 10px;
    caret-color: white;
}


#search-bar {
    display: flex;
}

    #search-bar input {
        margin: auto;
        margin-top: 5px;
    }

#search-bar-btn {
    width: 45px;
    height: 45px;
    background-color: #ffffff0d;
    position: relative;
    border-radius: 10px;
    margin: 5px;
    border: none;
}

    #search-bar-btn img {
        width: 30px;
        height: 30px;
        margin: 0;
        position: absolute;
        top: 15%;
        left: 17%;
    }

#search-results {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
    list-style-type: none;
    margin: 0px;
    padding: 20px;
}

.search-result-avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}

.search-result-name {
    display: inline;
    padding: 4px;
    width: 100%;
    margin-right: 4px;
}

.search-result-frame {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.search-result-add-btn {
    width: 80%;
    height: 36px;
    padding-left: -50px;
    color: #fff;
    background: #303132;
    font-size: 1em;
    font-weight: bold;
    margin-top: 10px;
    outline: none;
    border: none;
    border-radius: 5px;
}

    #search-results-empty {
        position: absolute;
        right: 0px;
        width: 100%;
        top: 20vh;
        text-align: center;
        padding: 10px;
    }

.search-option-selected {
    background-color: #303132;
    border-radius: 5px;
    height: 100%;
    width: 25%;
    text-align: center;
}

li {
    margin: 10px 0;
}

ul {
    list-style: none;
}

#context-frame {
    visibility: hidden;
    position: absolute;
    top: 50vw;
    left: 25vw;
}

#context-menu {
    display: flex;
    width: 50vw;
    flex-direction: column;
    background-color: #3d3e40;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgb(64 64 64 / 5%);
    padding: 10px 0;
}

    #context-menu button {
        margin: 0 auto;
        text-align: center;
        width: 80%;
        height: 45px;
        background: #e0dede;
        background-color: #303132;
        padding: 10px;
        border: none;
        outline: none;
        color: white;
        border-radius: 10px;
        caret-color: white;
    }

#search-options {
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 20px;
}

    #search-options li {
        height: 10px;
        display: inline;
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    #search-options span {
        text-align: center;
        padding: 10px 13px;
        text-decoration: none;
    }