@page "/Search/{SearchInput}"

@inject NavigationManager naviagtion;
@inject IJSRuntime JS;

<div id="search-bar">
    <form @onsubmit="SearchBarSubmit">
        <input @bind="SearchInput" type="text" placeholder="Search" />
    </form>
</div>

<div id="search-options">
    <span id="search-option-all" @onclick="() => OnSearchOptionSelect(SearchOption.All)">All</span>
    <span id="search-option-users" @onclick="() => OnSearchOptionSelect(SearchOption.Users)">Users</span>
    <span id="search-option-groups" @onclick="() => OnSearchOptionSelect(SearchOption.Groups)">Groups</span>
</div>

<div>
    <ul id="search-results">
        @foreach (IViewBindable found in SearchFound)
        {
            <li>
                <div @onclick="() => OpenChat(found)" class="search-result-frame">
                    <div>
                        <img class="search-result-avatar" src="@found.AvatarImageSource">
                    </div>
                    <div class="search-result-name">
                        <span class="chat-author-name">@found.Name</span>
                    </div>
                </div>
            </li>
        }
    </ul>
</div>