@page "/ProfileSettings"

@using Client.IO;

@inject NavigationManager navigation;

<div id="localuser-display">
    <img @onclick="() => AvatarManager.MediaPickerSet(LocalUser.CurrentUser)" class="avatar" alt="local_user_avatar" src="@user.AvatarImageSource" />
    <div class="userinfo">
        <p class="userinfo">@user.Name<span style="color:dimgray">#@user.Id</span> </p>
    </div>
</div>

<div id="options">
    <button @onclick="() => AvatarManager.MediaPickerSet(LocalUser.CurrentUser)" id="option-logout">Change Avatar</button>

    <button @onclick="() => RedirectGroupChatCreator()" style="color: #D22B2B" id="option-logout">Create Group Chat</button>

    <button @onclick="() => ClearCache()" style="color: #D22B2B" id="option-logout">Clear Cache</button>

    <button @onclick="() =>  LocalUser.CurrentUser.Logout(navigation)" style="color: #D22B2B" id="option-logout">Logout</button>
</div>

@code {
    LocalUser user = LocalUser.CurrentUser;

    private void RedirectGroupChatCreator()
    {
        navigation.NavigateTo("/GroupChatCreator");
    }

    private void ClearCache() 
    {
        Cache.ClearAbsoluteCache();
    }
}
