#localuser-display {
    padding-left: 8px;
}

.avatar {
    margin-top: 40px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
}

#search-bar {
    display: flex;
}

#search-bar-btn {
    width: 45px;
    height: 45px;
    background-color: #ffffff0d;
    position: relative;
    border-radius: 10px;
    margin: 5px;
    padding: 0px;
    border: none;
}

    #search-bar-btn img {
        width: 30px;
        height: 30px;
        margin: 0;
        position: absolute;
        top: 15%;
        left: 17%;
    }

.userinfo {
    display: inline;
}

    .userinfo span, p {
        font-size: 16px;
    }

#options {
}

button {
    width: 60%;
    height: 40px;
    margin: 10px auto;
    justify-content: center;
    display: block;
    color: #fff;
    background: #303132;
    font-size: 1em;
    font-weight: bold;
    margin-top: 20px;
    outline: none;
    border: none;
    border-radius: 5px;
}

    button:active {
        transform: scale(0.96);
    }