.form-container{
    text-align:center;
}

button {
    width: 60%;
    height: 40px;
    margin: 10px auto;
    justify-content: center;
    display: block;
    color: white;
    margin-top: 20px;
    outline: none;
    border: none;
    border-radius: 5px;
}

a {
    text-decoration: none;
}

input {
    width: 80%;
    height: 45px;
    justify-content: center;
    display: flex;
    margin: 20px auto;
    padding: 10px;
    border: none;
    outline: none;
    color: white;
    border-radius: 10px;
    caret-color: white;
}
