@using System.ComponentModel;

<div class="lds-ring">
    <div>

    </div>
    <div>

    </div>
    <div>

    </div>
    <div>

    </div>
</div>
    
@code{
    [Parameter]
    public LoadingComponentController LoadingController { get; set; }

    protected override void OnParametersSet()
    {
        
    }
}