@using System.ComponentModel;

@if (LoadingController.State)
{
    <div class="lds-pos">
        <div class="lds-ring">
            <div>
            </div>
            <div>
            </div>
            <div>
            </div>
            <div>
            </div>
        </div>
    </div>
}

@code{
    [Parameter]
    public StateComponentController LoadingController { get; set; }

    [Parameter]
    public string Class { get; set; } = string.Empty;

    private bool IsLoading = true;

    protected override void OnParametersSet()
    {
        if (LoadingController is null)
        {
            Logger.Push("Loading component has no controller", LogLevel.Error);
            return;
        }
        else
        {
            LoadingController.ChangeState = StateChanged;
        }

        IsLoading = LoadingController.State;

        if (!string.IsNullOrEmpty(Class))
        {
            StateHasChanged();
        }
    }

    private void StateChanged(bool state)
    {
        IsLoading = state;
        InvokeAsync(StateHasChanged);
    }
}