.message-timestamp {
    color: #72767d;
    font-size: 14px;
    margin-left: 3px;
}

.message-author-name {
    color: #fff;
    font-size: 1.1em;
    font-weight: 500;
    letter-spacing: 0.5px;
}

p {
    width: 80%;
    padding: 0px;
    margin: 0px;
    overflow: clip;
}

li {
    list-style-type: none;
    padding: 0px;
}

ul {
    list-style-type: none;
}

.message-info {
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.5;
}

.message-body img{
    max-height: 400px;
    max-width: 80%;
    padding-bottom: 8px;
}

ul{
    padding: 0px;
    margin: 0px;
}

.message-body {
    margin-right: 10px;
    width: 100%;
    font-weight: normal;
}

.message-frame {
    padding: 10px;
    font-size: 14px;
    line-height: 1.5;
    display: flex;
    align-items: flex-start;
}

.message-outer-frame{
    margin-bottom: -10px;
}

.message-content {
    width: 100%;
    margin-right: 4px;
}

.message-author-avatar {
    width: 70px;
    height: 55px;
    border-radius: 50%;
    margin-right: 6px;
}

.message-username {
    font-weight: bold;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 5px;
}