@using Client.Pages.Exceptions;
@using Client.Models.Chat;

<li class="message-outer-frame">
    <div class="message-frame">
        <img src="@message.AuthorView.AvatarImageSource" alt="author-avatar" class="message-author-avatar">
        <div class="message-body">
            <div class="message-username">@message.AuthorView.Name</div>
            <ul class="message-body-frame">
                @for (int i = 0; i < message.ChatMessageBodies.Count; i++)
                {
                    @if(message.ChatMessageBodies[i].IsText)
                    {
                        <li>
                            <p>@message.ChatMessageBodies[i].Content</p>
                        </li>
                    }
                    else
                    {
                        <li>
                            <img class="message-image" src="@message.ChatMessageBodies[i].Content" />
                        </li>
                    }
                } 
            </ul>
        </div>
    </div>
</li>

@code{

    [Parameter]
    public ChatMessage message { get; set; }

    protected override void OnParametersSet()
    {
        if(message is null)
        {
            throw new NullParameterException("message");
        }
    }
}