.profile-frame {
    visibility: hidden;
    position: absolute;
    top: 50vw;
    left: 25vw;
    background-color: #202225;
    border-radius: 10px;
    width: 55vw;
    height: 25vh;
}
    .profile-menu button {
        margin: 0 auto;
        text-align: center;
        width: 25vw;
        height: 40px;
        font-size: 15px !important;
        background: #e0dede;
        background-color: #303132;
        padding: 10px;
        border: none;
        border-radius: 10px;
        outline: none;
        color: white;
        caret-color: white;
    }

.avatar {
    padding: 10px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.me {
    font-size: 20px;
    position: absolute;
    top: 8px;
    left: 80px;
}

.info {
    display: inline;
}

.profile-close{
    text-align: center;
    margin: 0 auto;
}

ul, li {
    list-style-type: none;
}

li{
    padding: 5px;
    text-align: center;
}